@import url('@/assets/css/root.css');

.section_padding {
	float: left;
	width: 100%;
	padding-inline: 25px;
	min-height: 100vh;
	position: relative;
}

.section_wrapper {
	margin: 0px auto;
	height: auto;
	width: 90%;
	max-width: 1120px;
}

nav {
	float: left;
	width: 100%;
}

.menu_link {
	float: left;
	padding: 5px 10px;
	margin: 5px;
	color: #222;
	background: #f1f1f1;
	border-radius: 10px;
	font-size: 14px;
}

.logo_wrapper {
	float: left;
	height: auto;
	width: auto;
}

.logo_wrapper_image {
	float: left;
	max-height: 50px;
	content: var(--logo);
}
